<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>cancel</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/1be8dd0987.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container text-center mt-5">
      <i
        class="fas fa-times-circle"
        style="font-size: 15rem; color: #f5365c"
      ></i>
      <h1 class="h3">Error con tu método de pago</h1>
      <p>Algo fue mal con tu método de pago vuelve a intentarlo por favor</p>
      <a class="btn btn-primary" href="https://wilbby.com" role="button"
        >Volver a intentarlo</a
      >
    </div>
  </body>
</html>
